# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/cloud-select-front/node_modules
/cloud-select-front/.pnp
/cloud-select-front/.pnp.js

# testing
./cloud-select-front//coverage

# production
./cloud-select-front//build

# misc
./cloud-select-front/.DS_Store
./cloud-select-front/.env.local
./cloud-select-front/.env.development.local
./cloud-select-front/.env.test.local
./cloud-select-front/.env.production.local

./cloud-select-front/npm-debug.log*
./cloud-select-front/yarn-debug.log*
./cloud-select-front/yarn-error.log*

./cloud-select-back/__pycache__

